<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Node Web server Help Page</title>
    </head>
    <body>
        {{> header }}
        <p> Project page text will come here.</p>
        {{> footer }}
    </body>
</html>